{% block advert %}
<section class="advert">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="advertpic">
                    <img src="../static/images/content_banner_3.png" class="img-fluid" alt="advert">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Accessories</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}