{% extends 'base.html' %}
{% block error %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body>
    <section class="notFound">
        <div class="img">
        <img src="{{ url_for('static', filename='img/backToTheHomepage.png') }}" alt="Back to the Homepage"/>
        <img src="{{ url_for('static', filename='img/Delorean.png') }}" alt=""/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <h3>BACK TO HOME?</h3>
        <a href="index.html" class="yes">YES</a>
        <a href="#" ggAlert404>NO</a>
        </div>
    </section>
</body>
</html>
{% endblock %}